body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.navbar {
    background-color: #dc3545;
    padding: 1rem;
}
.navbar-brand, .nav-link {
    color: #ffffff;
}
.navbar-brand {
    font-weight: bold;
}
.nav-link:hover {
    background-color: #c82333;
    border-radius: 5px;
}
.container {
    flex: 1;
}
.header-title {
    margin-bottom: 30px;
    font-size: 2rem;
    color: #a31b1b;
}
form {
    max-width: 600px;
    margin: auto;
}
.btn-primary {
    background-color: #d9534f;
    border-color: #d9534f;
}
.btn-secondary {
    background-color: #f0ad4e; 
    border-color: #f0ad4e;
}
.btn-success {
    background-color: #5cb85c; 
    border-color: #5cb85c;
}
.btn-primary:hover, .btn-secondary:hover, .btn-success:hover {
    opacity: 0.85; }