.imagen {
    background-image: url(../img/division-horizontal-inmobiliaria-grocasa_1664541866.webp);
    background-size: cover;
background-position: 200vh;
    background-attachment: fixed;
    color: white;
}

.quienes-somos-imagen img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.fondoh1 {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px; 
    padding: 10px; 
    backdrop-filter: blur(5px); 
    display: inline-block; 
}
html {
    scroll-behavior: smooth;
}

h1, h2, footer {
    color: #4e342e; 
}

.btn-primary, .btn-secondary {
    margin-top: 20px;
}

.servicios-section {
    padding: 50px 0;
    color: #4e342e; 
}

.servicio-img {
    width: 15rem;
    height: 15rem;
    border-radius: 5px;
}

.quienes-somos-section {
    background-color: #d7ccc8; 
    padding: 50px 0;
    color: #4e342e; 
}
.quienes-somos-section img{
    border-radius: 5px;
    height: 400px;
    width: 400px;
}

.propiedades-section {
    background-color: #a1887f;
    padding: 50px 0;
    color: white;

}

.testimonios-section {
    background-color: #bcaaa4; 
    padding: 50px 0;
    color: #4e342e;
}

.propiedades-section img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: transform 0.3s ease;
    border-radius: 5px;
}

.propiedades-section img:hover {
    transform: scale(1.1);
}


footer {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
    text-align: center;
}